{% extends "layout/master.html" %}
{% load static %}

{% block title %}Calculer Délibération - {{ deliberation.session.code }}{% endblock %}

{% block page_title %}Calculer Délibération{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"> <i data-feather="home"> </i></a></li>
<li class="breadcrumb-item"><a href="{% url 'deliberations:deliberation_list' %}">Délibérations</a></li>
<li class="breadcrumb-item f-w-400 active">Calculer</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Calculer les Décisions - {{ deliberation.session.code }}</h5>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    <strong>Information :</strong> Cette opération va calculer les notes finales, les crédits obtenus et produire les décisions automatiques pour tous les étudiants de la promotion.
                </div>
                
                <div class="mb-4">
                    <h6>Détails de la délibération :</h6>
                    <ul class="list-unstyled">
                        <li><strong>Session :</strong> {{ deliberation.session.code }}</li>
                        <li><strong>Semestre :</strong> {{ deliberation.session.semestre.code }}</li>
                        <li><strong>Promotion :</strong> {{ deliberation.session.semestre.promotion.code }}</li>
                        <li><strong>Date :</strong> {{ deliberation.date_deliberation|date:"d/m/Y" }}</li>
                    </ul>
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'deliberations:deliberation_detail' deliberation.pk %}" class="btn btn-secondary">
                            <i class="fa fa-arrow-left"></i> Annuler
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-calculator"></i> Lancer le calcul
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
