{% extends "components/ecore_form_base.html" %}
{% load static %}

{% block form_breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"><i data-feather="home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'deliberations:deliberation_list' %}">Délibérations</a></li>
<li class="breadcrumb-item f-w-400 active">{{ title }}</li>
{% endblock %}

{% block form_id %}deliberation-form{% endblock %}

{% block form_extra_notices %}

{% endblock %}

{% block form_before_fields %}

{% endblock %}

{% block form_main_col %}col-lg-8{% endblock %}

{% block form_main %}
{% include "components/ecore_form_section_open.html" with icon="fa-calendar" title="Session" subtitle="Session et date" %}
<div class="row g-3">
  {% include "components/ecore_form_field.html" with field=form.session col="col-md-8" icon="fa-calendar" required=True %}
  {% include "components/ecore_form_field.html" with field=form.date_deliberation col="col-md-4" icon="fa-gavel" required=True %}
</div>
{% include "components/ecore_form_section_close.html" %}
{% include "components/ecore_form_section_open.html" with icon="fa-users" title="Jury" subtitle="Présidence et membres" %}
<div class="row g-3">
  {% include "components/ecore_form_field.html" with field=form.president_jury col="col-md-6" icon="fa-user" required=True %}
  {% include "components/ecore_form_field.html" with field=form.membres_jury col="col-md-6" icon="fa-users" help="Maintenez Ctrl pour sélection multiple" %}
</div>
{% include "components/ecore_form_section_close.html" %}
{% include "components/ecore_form_section_open.html" with icon="fa-info" title="Suivi" subtitle="Statut et compte-rendu" section_class="mb-0" %}
<div class="row g-3">
  {% include "components/ecore_form_field.html" with field=form.statut col="col-md-4" icon="fa-flag" required=True %}
  {% include "components/ecore_form_field.html" with field=form.notes col="col-12" icon="fa-sticky-note" help="Procès-verbal ou remarques" %}
</div>
{% include "components/ecore_form_section_close.html" %}
{% endblock %}

{% block form_actions %}
{% url 'deliberations:deliberation_list' as cancel_url %}
{% include "components/form_actions.html" with cancel_url=cancel_url %}
{% endblock %}

{% block form_aside %}
{% include "components/ecore_form_aside_tips.html" with tip1="La session doit être prête pour délibérer" tip2="Le président conduit la séance" tip3="Le statut suit l'avancement" %}
{% endblock %}
{% block form_extra_js %}

{% endblock %}
