{% extends "layout/master.html" %}

{% block title %}{{ title }} - e-Core{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"><i data-feather="home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'prestation:enveloppe_list' %}">Enveloppes budgétaires</a></li>
<li class="breadcrumb-item f-w-400 active">{{ title }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            {% include "components/page_toolbar.html" with toolbar_title=title toolbar_subtitle=subtitle %}
      <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Année</label>
                        {{ form.annee }}
                        {{ form.annee.errors }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mois</label>
                        {{ form.mois }}
                        {{ form.mois.errors }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Montant de l'enveloppe (CDF)</label>
                        {{ form.montant }}
                        {{ form.montant.errors }}
                    </div>
                    {% url 'prestation:enveloppe_list' as cancel_url %}
                    {% include "components/form_actions.html" with cancel_url=cancel_url %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
