{% extends "layout/master.html" %}
{% load static %}

{% block title %}Supprimer Inscription - e-Core{% endblock %}

{% block page_title %}Supprimer Inscription{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}"> <i data-feather="home"> </i></a></li>
<li class="breadcrumb-item"><a href="{% url 'students:inscription_list' %}">Inscriptions</a></li>
<li class="breadcrumb-item f-w-400 active">Supprimer</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Confirmer la suppression</h5>
            </div>
            <div class="card-body">
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle"></i>
                    <strong>Attention !</strong> Vous êtes sur le point de supprimer l'inscription suivante :
                </div>
                
                <div class="mb-4">
                    <h6>Informations de l'inscription :</h6>
                    <ul class="list-unstyled">
                        <li><strong>Numéro :</strong> {{ inscription.numero_inscription }}</li>
                        <li><strong>Étudiant :</strong> {{ inscription.etudiant.nom_complet }}</li>
                        <li><strong>Classe :</strong> {{ inscription.classe }}</li>
                        <li><strong>Année académique :</strong> {{ inscription.annee_academique.code }}</li>
                    </ul>
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'students:inscription_list' %}" class="btn btn-secondary">
                            <i class="fa fa-arrow-left"></i> Annuler
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Confirmer la suppression
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
